{% extends "highwaysign/base_sidenav.html" %}
{% block title1 %} <title>MTB | DrivingTestPrep</title> {% endblock title1 %}
{% block content1 %}
<h1 class="text-center">Model Town Board (MTB)</h1>

<div class="border m-3 p-3">
    <p>The <b>Model Town Board</b> abbreviated as <b>MTB</b> is a representation of the road
    networks in towns/cities in East Africa which is mean't to train learner
    drivers on features, safe usage, and the rules of the road.</p>
</div>
<div class="border m-3 p-3">
    <h4>Rules of the Model Town Board</h4>
    <ul>
        <li>Use the shortest most correct route without using parking.</li>
        
        <li>Use the longest most correct route without using parking.</li>
        
        <li>Use parking as the last option.</li>
        
    </ul>
</div>
<div class="border m-3 p-3">
    <h4>Features of the Model Town Board</h4>
    <ul>
        <li><b>Roads:</b> two one-way(dual-carriage) traffic roads, and two two-way traffic roads.</li>
        
        <li><b>Round about</b></li>
        
        <li><b>Traffic Island:</b> located at the center of the round about.</li>
        <li><b>Parking spaces:</b> (Controlled and uncontrolled parking)</li>
        <li><b>Exits from main road</b></li>
        <li><b>Pedestrian crossings:</b> Safe areas for pedestrians to cross the road</li>
        <li><b>Green fields or reserves</b></li>
        <li><b>Yellow curbs:</b> yellow markings showing where drivers are not allowed to
            stop, park, or wait.
        </li>
        <li><b>Arrow markings:</b> They guide drivers on the road</li>
        <li><b>Central reserve:</b> The area separating roads on a on a one-way traffic road</li>
        <li><b>Stop and Yield signs</b></li>
        
    </ul>
</div>
{% endblock content1 %}
