{% extends "highwaysign/base_sidenav.html" %}
{% load static %}
{% block title1 %} <title>Signs | DrivingTestPrep</title>  {% endblock title1 %}
{% block content1 %}
<h2 class="text-center">Class C Signs</h2>
<div class="border m-3 p-3">
    <ul>
        <li>Also known as <b>Informatory / Facility signs</b>, class C signs give information about the road or facilities.</li>
        <li><b>Description:</b> They are generally rectangular in shape.</li>
    </ul>
</div>
<div class="border m-3 p-3">
    <div class="row text-center">
        <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-c/traffic_lights.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Right Bend Ahead</p>
            </div>
        </div>
        <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-c/hazard_demarcation.png' %}" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text text-center small-text">Harzard demarcation</p>
            </div>
        </div>
        <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-c/fuelling_station.png' %}" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text text-center small-text">Fuelling Station</p>
            </div>
        </div>
        <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-c/restaurant.png' %}" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text text-center small-text">Restaurant</p>
            </div>
        </div>
        <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-c/extreme_change_of_dir.png' %}" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text text-center small-text">Extreme change of direction</p>
            </div>
        </div>
        
    </div>
</div>
{% endblock content1 %}
