{% extends "highwaysign/base_sidenav.html" %}
{% load static %}
{% block title1 %} <title>Signs | DrivingTestPrep</title>  {% endblock title1 %}
{% block content1 %}
<h2 class="text-center">Class B Signs</h2>
<div class="border m-3 p-3">
    <ul>
        <li>Also known as <b>warning signs</b>, class B signs caution/warn road users about potential harzards ahead.</li>
        <li><b>Description:</b> They are triangular in shape with apex facing upwards.</li>
    </ul>
</div>

<!-- Warning signs -->
<div class="border m-3 p-3">
    <div class="row text-center">
        <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/right_bend.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Right Bend Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/left_bend.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Left Bend Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/successive_bends_right.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Successive Bends First Bend to the Right Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/successive_bend_left.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Successive Bends First Bend to the Left Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/steep_descent.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Steep Descent Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/steep_ascent.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Steep Ascent Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/road_narrows_both.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Road Narrows from Both Sides Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/road_narrows_right.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Road Narrows from the Right Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/road_narrows_left.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Road Narrows from the Left Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/river_bank.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">River Bank Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/uneven_road_surface.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Uneven Road Surface Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/bump.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Bump Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/severe_depression.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Severe Depression Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/seasonal_drift.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Seasonal Drift Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/slipperly_road_surface.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Slipperly Road Surface Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/loose_surface_road.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Loose Surface Road Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/falling_rocks_left.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Danger of Falling Rocks from Left Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/right_falling_rocks.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Danger of Falling Rocks from Right Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/pedestrian_closing.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Pedestrian Crossing Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/children_closing.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Children Closing Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/cyclists.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Cyclist Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/domestic_animals.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Domestic Animals Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/wild-animals.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Wild Animals Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/road_works.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Road Works Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/traffic_lights.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Section of Road Controlled by Traffic Lights Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/low_flying_ac.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Low Flying Aircrafts Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/two_way_traffic.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Two way Traffic Road Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/hazard.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Hazard Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/cross_roads.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Crossroads Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/crossroads_on_priority_road.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Crossroads on Priority Road Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/side_road_junction.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Side Road Junction Ahead (right)</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/acclane_from_right.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Accelerating Lane from Right Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/roundabout.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Roundabout Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/controlled_railcrossing.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Controlled Railway Crossing Ahead</p>
            </div>
          </div>
          <div class="card col-lg-2 col-md-3 col-sm-3 col-5 p-2 m-2">
            <img src="{% static 'highwaysign/images/highway_signs/class-b/uncontrolled_rail_crossing.png' %}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text text-center small-text">Uncontrolled Railway Crossing Ahead</p>
            </div>
        </div>
    
</div>
{% endblock content1 %}
