{% extends "highwaysign/base_sidenav.html" %}
{% block title1 %} <title>Signs | DrivingTestPrep</title> {% endblock title1 %}
{% block content1 %}
<h1 class="text-center">Highway Signs</h1>

<div class="border m-3 p-3">
    <p><b>Highway signs</b> or <b>Traffic signs</b> or <b>road signs</b> are signs erected at 
    the side of or above roads to give instructions or provide information to road users.</p>
</div>
<div class="border m-3 p-3">
    <p>They are classified into three major categories or classes</p>
    <ul>
        <li>Class A: Also known as regulatory signs</li>
        <p>As the name suggests - they give orders or direction into what should be done by road users</p>
        <li>Class B: Also known as warning signs</li>
        <p>Similarly - they give warning or inform about hazardsto road users</p>
        <li>Class C: Also known as informatory signs</li>
        <p>Information giving - they give information or inform road users about facilities available to them</p>
    </ul>
</div>
{% endblock content1 %}
